/readme.docx
/analysis_code/
/R/images/*.png
*.RData
*.pdf
*.js
*.png
*.eps
/.DS_Store
/R/HD/
/R/data/
/R/.DS_Store
/R/Matern/.DS_Store
/R/Temporal_modulation/.Rhistory
/R/HD2/*.R
/R/HD2/_minted-data_formatting/
/R/HD2/data_formatting.html
/R/HD2/data_formatting.org
/R/HD2/data_formatting.tex
/R/HD2/priors.R~
/R/HD2/spde.osc.R~
